body {
        background: url(../img/1.png) no-repeat center fixed;
        background: url(../img/2.png) no-repeat center fixed;
}
h1 {
        border: 3px solid red;
}
ul {
        color: blue;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#menu {
        font-size: 20px;
}
.sale {
        color: rebeccapurple;
}
p {
        margin: 20px 0;
        font-size: 16px;
}